:root {
	--pink0: hsl(327, 100%, 45%);
	--grey0: hsl(20, 0%, 95%);
	--grey1: hsl(20, 0%, 90%);
	--grey2: hsl(20, 0%, 80%);
	--grey3: hsl(20, 0%, 70%);
	--grey4: hsl(20, 0%, 60%);
	--grey5: hsl(20, 0%, 50%);
	--grey6: hsl(20, 0%, 40%);
	--grey7: hsl(20, 0%, 30%);
	--grey8: hsl(20, 0%, 20%);
	--blue0: hsl(192, 100%, 50%);
	--blue1: hsl(192, 100%, 65%);
	--blue2: hsl(200, 60%, 40%);
	--green1: rgb(66, 190, 160);
	--gold1: hsl(54, 100%, 90%);
	--gold2: hsl(54, 100%, 70%);
	--gold3: hsl(54, 100%, 50%);
	--gold4: hsl(54, 100%, 40%);
	--gold5: hsl(54, 100%, 30%);
	--purp1: rgb(135, 104, 174);
	--purp2: hsl(258, 50%, 75%);
	--purp3: hsl(258, 50%, 55%);
	--red1: rgb(240, 82, 62);
	--red-team: hsl(359, 67%, 50%);
	--red-team-hover: hsl(359, 67%, 65%);
	--blue-team: hsl(221, 33%, 30%);
	--blue-team-hover: hsl(221, 33%, 45%);
	--shade: rgba(0, 0, 0, 0.3);
	--shade1: rgba(0, 0, 0, 0.7);
}